@font-face {
    font-family: Amphibia; src: url('Amphibifont-Regular.ttf');
}

.Opção{
    color: white;

    width: 450px;
    min-height: 450px;
    max-width: 450px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;

    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    transition: 0.25s;
    text-align: center;
    font-size: 60px;

    display: block;
    border: none;
    background: none;
    cursor: pointer;

    transition: 0.25s;
    filter: brightness(0.2);
}

.Opção:hover {
    filter: brightness(1);
    transform: scale(1.1) rotate(5deg);
    font-family: sans-serif;
    font-size: 55px;
}

#OutrasOpções{
    width: 80%;

    grid-area: content;
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 200px 200px;
    gap: 5%;

    margin-left: auto;
    margin-right: auto;
}

.Personagens{
    background-image: url(../assets/img/AnneVsSasha.gif);
    font-family: Amphibia;
}

.Episódios{
    background-image: url(../assets/img/Pesca.gif);
    font-family: Amphibia;
}

.Lore{
    background-image: url(../assets/img/Profecia.gif);
    font-family: Amphibia;
}

.Segredos{
    background-image: url(../assets/img/Polaroid.gif);
    font-family: Amphibia;
}
